{% extends 'base.html' %}

{% block content %}
alert("i am here")
<div class="d-flex justify-content-between">
<h1>List all the coffee</h1>
<ul id= "coffee-list">

</ul>


    <div>
      <h2 class="join-message">Create my own drink</h2>

      <form method="POST" id="new-coffee-form" >

        {{ form.hidden_tag() }}
      
        {% for field in form
          if field.widget.input_type != 'hidden' %}
        <p>
          {{ field.label(class="form-label") }}
          {{ field(class="form-control") }}
      
          {% for error in field.errors %}
          <span class="form-text text-danger">{{ error }}</span>
          {% endfor %}
        </p>
        {% endfor %}
      
        <button class="btn btn-success" type="submit">Submit</button>
      
      </form>
    </div>         
  </div>

  <div class="container d-flex justify-content-between">
    <h1>List all the product</h1>
    <ul id="coffee-list">
    </ul>
    <div>
    <h2>Add a new item!</h2>
    
    
    <form method="POST" id="new-coffee-form" action = "/coffee">
      <div class="col-12">
        <label for="form-title" class="form-label">Title</label>
        <input type="text" name="title" class="form-control" id="form-title">
      </div>
      <div class="col-12">
        <label for="form-type" class="form-label">Type</label>
        <select  name="title" class="form-control" id="form-title">
          <option selected>Type</option>
          <option value="hot">Hot</option>
          <option value="iced">Iced</option>
        </select>
      </div>
      <div class="col-12">
        <label for="form-ingredients" class="form-label">Ingredients:</label>
        <input type="text" name="ingredients" id="form-ingredients" class="form-control">
      </div>
      <div class="col-12">
        <label for="form-description" class="form-label">Description:</label>
        <input type="text" class="form-control" id="form-description" >
      </div>
      <div class="col-12">
        <label for="form-image" class="form-label">Image:</label>
        <input type="text" class="form-control" id="form-iamge" >
      </div>
      
      <div class="col-12">
        <button type="submit" class="btn btn-success">Add</button>
      </div>
    </form>
  </div>
  </div>
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="/static/coffee.js"></script>
{% endblock%}


  