{% extends 'base.html' %}
{% block content%}

<div class="container-sm mt-2">
    <div class="row justify-content-center">
        <div class="col-4" style="min-width: 320px;">
            <div>
                <span>
                <img class="card-img img-fluid" src={{product["image"]}} alt="{{ product.title }}">
                </span>
                <form id="favorite" action="{{ url_for('favorite_product',product_id=product.id) }}" method="post">
                    <button class="btn btn-sm {{'btn-primary'}} rounded-circle">
                        <i class="fa-regular fas fa-star"></i> 
                    </button>
                </form>
            </div>
        </div>
        <div class="col-8" >
            
           
            <ul id="effect" class="list-group mt-2">
                <li class="list-group-item bg-light">
                    <h4 class="m-0">
                        Details:
                    </h4>
                </li>
                <li class="list-group-item">
                    <h5>Title: <span>{{product['title']}}</span></h5>
                    <h5>Ingredients:  <span>{{product['ingredients']}}</span></h5>
                    <h5>Description:  <span>{{product['description']}}</span></h5>
                </li>
                
                    {% if product.type =="hot" %}
                    <a href = "/hot" class="btn btn-primary stretched-link">Back to Choice</a>
                                
                    {%else%}
                    <a href = "/iced" class="btn btn-primary stretched-link">Back to Choice</a>
                    {% endif%}
                
                
            </ul>
            
            
        </div>
    </div>
    <div class="row justify-content-center">
   
    </div>
</div>
{%endblock%}
